/* --font import -- */
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Dancing+Script:wght@400..700&family=Grand+Hotel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html,body{
    font-family: 'Trebuchet MS', sans-serif;
}
body{
    line-height: 1.5;
    overflow-x: hidden;
}
/* common-class */
.container{
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}
:root{
    --skyblue:#01bbbf;
    --black:#000;
    --green:rgba(24, 197, 24, 0.856);
    --maroon:#FC0000;
    --maruunone:#cc211bc1;
    --white:#ffff;
    --ass:rgba(74, 69, 69, 0.815);
    --lightsky:#aae2f74c;
    --blur:rgba(255, 255, 255, 0.793);
    --blacknew:rgb(0, 0, 0);
    --whatsapp:#25d366;
    --insta:(#f9ce34, #ee2a7b,#6228d7);
    --facebook:#3b5998;
    --darkblack:#0d0d0d94;
    --darkgreen:green;
    --darkblue:rgba(10, 10, 37, 0.77);
    --deepass:rgba(120, 112, 112, 0.088);
    --transparent:rgba(255, 255, 255, 0.278);
}
.com-gap{
    padding: 100px 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
.btn{
    display: inline-block;
    padding: 10px 40px;
    background-color:var(--skyblue);
    color:#ffff;
    font-size: 14px;
    border-radius: 10px;
    text-transform: uppercase;
    border: 1px solid var(--black);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}
.btn:hover{
    background-color:var(--transparent);
    color: var(--black);
}
section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
h1,.heading-1 {
    font-size: 73px;
    font-weight: 800;
    margin: 0 0 20px;
    line-height: 1.1;
}

h2,.heading-2 {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 20px;
}
h3,.heading-3 {
    font-size: 34px;
    font-weight: 600;
    line-height: 1.1;
    margin: 0 0 20px;
}
h4,.heading-4 {
    font-size: 26px;
    font-weight:500;
    line-height: 1.1;
    margin: 0 0 20px;
}
h5,.heading-5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    margin: 0 0 20px;
}
h6,.heading-6 {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.1;
    margin: 0 0 20px;
}
.colour{
    color: var(--skyblue);
}
/* common-class ends */


/* ---top header------------- */
.top-header{
    background-color: var(--ass);
    padding: 10px 0;
}
.top-header-child{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.top-header-contact{
    display: flex;
}
.top-header-contact a{
    color: #ffff;
    font-size: 16px;
    margin-right: 30px;
}
.top-header-contact a:hover{
    color: var(--skyblue);
}
.top-header-contact i{
    margin: 0 10px;
}
.top-header-icons{
    display: flex;
}
.top-header-icons a{
    color: #ffff;
    font-size: 20px;
    margin-right: 30px;
}
.top-header-icons a:hover{
    color:var(--skyblue);
}
/* ---top header ends---------- */
/* ----header-section--- */
.header-section{
    position: absolute;
    width: 100%;
}
.nav-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    display:flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
}
.nav-items li a{
    margin: 0 15px; 
    color:var(--white);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}
#nav-package{
    color: var(--skyblue);
}
.nav-items li a:hover{
    color: var(--skyblue);  
}
.logo{
    display: block;
    width: 220px;
}
.nav-items a{
    position: relative;
} 
.nav-items a:after{
    content: "";
    position: absolute;
    background-color: var(--white);
    height: 2px;
    width:0%;
    left: 0;
    bottom: -2px;
    transition: 0.3s; 
}
.nav-items a:hover:before{
    width: 70%; 
}
.nav-items a:before{
    content: "";
    position: absolute;
    background-color: var(--white);
    height: 1px;
    width:0%;
    right:0;
    top: -2px;
    transition: 0.3s; 
}
.nav-items a:hover:after{
    width: 70%; 
}
.nav-items:hover{
    color: var(--white)
}
/* ----header-section ends--- */
/* -----banner section----------- */
.banner-section{
    background-image: url(../image/package\ banner\ img.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: calc(100vh - 200px );
    padding: 170px 0;
    background-blend-mode:darken;
    background-color: #0d0d0da1;
}
.banner-section h1{
    color: var(--white);
    text-shadow: 2px 2px 4px #000000;
    font-family: "Dancing Script", cursive;
}
.banner-section-child{
    display: flex;
    justify-content: center;
}
/* --------banner-section ends------------ */
/* --------package-section------------ */
.package-section{
    background-color: var(--deepass);

}
.package-header h2{
   color: var(--darkblue);
   text-align: center;
   margin-bottom: 40px;
   font-family: "Dancing Script", cursive;
}
 .package-header p{
    text-align: center;
    color: var(--ass);
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
 }
 .package-section-child{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
 }
 .card-one{
    background-color:var(--white);
    padding: 10px 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
 }
 .card-one:hover{
    box-shadow: 0px 0px 15px 8px black;
 }
 .card-image{
    margin-bottom: 10px;
 }
 .card-image img{
    display: block;
 }
 .card-one-text{
    padding: 20px 30px;
 }
 .card-one-text p{
    color: var(--ass);
    line-height: 1.2;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
 }
 .details-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
 }
 .details-section a{
    color: var(--ass);
 }
 .details-section a:hover{
    color: var(--skyblue);
 }
 .details-section-one{
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px;
 }
 .details-section-one a{
    color: var(--ass); 
 }
 .details-section-one a:hover{
    color: var(--skyblue);
 }
 .moreplace{
    display: flex;
    justify-content: center;
 }
 .btn-one{
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 0px;
 }
 .btn-one:hover{
    background-color: var(--transparent);
 }
 .details-section a{
    font-size: 17px;
 }
 .details-section-one a{
    font-size: 17px;
 }
/* --------package-section ends------- */
/* -------------process section----- */
.process-section{
    background-color: var(--deepass);
}
.process-header{
    text-align: center;
}
.process-header h2{
    color: var(--darkblue);
    margin-bottom: 30px;
    font-family: "Dancing Script", cursive;
}
.process-header h3{
    color: var(--ass);
    margin-bottom: 100px;
}
.process-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-two{
    width: 100%;
    max-width: 330px;
    padding: 50px 15px;
    border: 2px solid var(--ass);
    position: relative;
    background-color: rgba(255, 255, 255, 0.227);
}
.card-three{
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}
.card-two:hover{
    border: 2px solid var(--darkblue);
    box-shadow: 0px 0px 15px 2px var(--darkblue);
}
.card-two i{
    font-size: 70px;
    color: var(--skyblue);
    margin-bottom: 30px;
    position: absolute;
    bottom:77%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    
}
.card-two i:hover{
    color: var(--black);
}
.card-two-text h4{
    color: var(--ass);
    margin-bottom: 30px; 
}
.card-two-text p{
    color: var(--ass);
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 16px;
}
/* -------------process section ends---------- */
/* -------------link section----------------- */
#whatsapp .wtsap{
    position: fixed;
    background-color: var(--whatsapp);
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 50px;
    color: var(--white);
    font-weight: 700;
    font-size: 20px;
    bottom: 20%;
    left: 2%;
    padding: 3px 9px;
}
#facebook .fac{
    position: fixed;
    background-color: var(--facebook);
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 50px;
    color: var(--white);
    font-weight: 700;
    font-size: 20px;
    bottom: 20%;
    right: 2%;
    padding: 3px 8px;
}
#instagram .ins{
    position: fixed;
    background-image: linear-gradient(#f9ce34, #ee2a7b,#6228d7);
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 50px;
    color: var(--white);
    font-weight: 700;
    font-size: 18px;
    bottom: 32%;
    left: 2%;
    padding: 4px 9px;
}
#twitter .twi{
    position: fixed;
    background-color: var(--black);
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 50px;
    color: var(--white);
    font-weight: 700;
    font-size: 20px;
    bottom: 32%;
    right: 2%;
    padding: 3px 8px;
}
/* -------------link section----------------- */
/* ------footer section------------ */
.footer-section{
    background: linear-gradient(45deg,#c0c0aa,#1cefff);
    padding: 100px 0;
}
.footer-one{
    padding: 30px 10px;
    width: 19%;
}
.logo-one{
    display: block;
    width: 130px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 2px var(--darkblue);
    border: 1px solid var(--darkblue);
}
.footer-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-one p{
    color: var(--ass);
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 16px;
}
.footer-links-one li{
    margin: 0 0 5px;
}
.footer-links-one a{
    font-size: 16px
}
.social-links li{
    margin: 0 10px 0 0;
}
.social-links li a{
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}
.social-links{
    display: flex;
    justify-content: space-between;
}
.footer-two i{
    font-size: 20px;
    color: var(--darkblue);
}
.footer-two i:hover{
    color: var(--skyblue);
}
.footer-one a{
   display: inline-block;
   color: var(--ass);
}
.footer-one a:hover{
    color:var(--white) ;
 }
.footer-one-para{
    color: var(--darkblue);
    font-size: 20px;
    margin-bottom:40px;
    font-weight: 800;
    
}
.facebook{
    padding: 10px 14px;
}
.insta {
    padding: 10px;
}
.youtube {
    padding: 10px 8px;
}
.whatsapp {
    padding: 10px;
}
/* ------footer section ends--------- */
/* ------bottom-footer-------------- */
.bottom-footer{
    padding: 10px 0;
    background-color: var(--ass);
}
.bottom-footer p{
   font-size: 16px;
   text-align: center;
   color: var(--white);
   font-weight: 500;
   line-height: 1.2;
}
/* ------bottom-footer ends----------- */







/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

@media (min-width:320px) and (max-width:575.98px) {

/* ---top header------------- */
.top-header{
    padding: 20px 0;
}
.top-header-child{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-header-contact a{
    font-size: 11px;
    margin-right: 8px;
}
.top-header-contact{
    margin-bottom: 10px;
}
.top-header-contact i{
    margin: 0 5px;
}
.top-header-icons a{
    font-size: 11px;
    margin-right: 8px;
}
/* --------top header ends----------- */
/* ----header-section--- */
.header-section{
    padding: 10px 0;
}
.nav-bar{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.nav-items{
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
}
.nav-items li a{
    margin: 0px 0px; 
    font-size: 14px;
    text-transform: uppercase;
}
.nav-items li{
    margin-bottom: 5px;
}
.logo{
    width: 170px;
}
.btn{
    padding: 5px 20px;
    font-size: 12px;
 }
/* ----header-section ends--- */
/* -----banner section----------- */
.banner-section{
    padding: 280px 0;
    height: 10vh;
}
.banner-section-child h1{
    font-size: 25px;
    margin-top: 180px
}
/* -----banner section ends-------- */
/* --------package-section------------ */
.package-section{
    padding: 20px 0;
  }
  .package-header h2{
     font-size: 25px;
     margin-bottom: 20px;
  }
   .package-header p{
      margin-bottom: 30px;
      font-size: 12px;
   }
   .package-section-child{
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(1,1fr); 
   }
   .card-one{
      margin-bottom: 10px;
   }
   .card-one-text{
      padding: 20px 10px;
   }
   .card-one-text p{
      margin-bottom: 10px;
      font-size: 12px;
      text-align: center;
   }
   .details-section{
      margin-bottom: 20px;
   }
   .details-section-one{
      margin-bottom: 20px;
   }
  .btn-one{
      padding: 3px 7px;
      margin-bottom: 20px;
   }
   .details-section a{
      font-size: 13px;
   }
   .details-section-one a{
      font-size: 13px;
   }
  /* --------package-section ends------- */
/* -------------process section----- */
.process-section{
    padding: 30px 0;
 }
 .process-header h2{
   font-size: 30px;
     margin-bottom: 20px;
 }
 .process-header h3{
     font-size: 20px;
     margin-bottom: 50px;
 }
 .process-child{
    justify-content:space-evenly;
}
.card-two{
    margin-bottom: 40px;
    padding: 40px 10px;
    max-width: 270px;
}
 .card-two i{
     font-size: 40px;
     margin-bottom: 30px;
     position: absolute;
     bottom:76%;
     left: 50%;
     transform: translateX(-50%);
 }
 .card-two-text h4{
     margin-bottom: 20px; 
     font-size: 20px;
 }
 .card-two-text p{
     margin-bottom: 5px;
     font-size: 12px;
 }
 /* -------------process section ends---------- */
/* ------footer section------------ */
.footer-section{
    padding: 30px 0;
}
.footer-one{
    padding: 20px 10px;
    width: 100%;
}
.logo-one{
    width: 100px;
    margin-bottom: 20px;
}
.footer-child{
    flex-direction: column;
    justify-content:center;
    text-align: center;
}
.footer-one p{
    margin-bottom: 15px;
    font-size: 12px;
}
.footer-links-one li{
    margin: 0 0 5px;
}
.footer-links-one a{
    font-size: 13px
}
.social-links li{
    margin: 0 10px 0 0;
}
.social-links li a{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-links{
    display: flex;
    justify-content: center;
}
.footer-two i{
    font-size: 14px;
}
.footer-one-para{
    font-size: 18px;
    margin-bottom:12px;
}
/* ------footer section ends--------- */
/* ------bottom-footer-------------- */
.bottom-footer p{
    font-size: 11px;
 }
 /* ------bottom-footer ends----------- */
}
@media (min-width:576px) and (max-width:767.98px) {

/* ---top header------------- */
.top-header{
    padding: 20px 0;
}
.top-header-contact a{
    font-size: 15px;
    margin-right: 10px;
}
.top-header-contact i{
    margin: 0 5px;
}
.top-header-icons a{
    font-size: 15px;
    margin-right: 10px;
}
/* ---top header ends---------- */
/* ----header-section--- */
.header-section{
    padding: 10px 0;
}
.nav-bar{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.nav-items{
    margin-bottom: 30px;
    max-width: 337px;
}
.nav-items li a{
    margin: 0px 30px; 
    font-size: 16px;
    text-transform: uppercase;
}
.nav-items li{
    margin-bottom: 10px;
}
.logo{
    width: 170px;
}
.btn{
    padding: 7px 25px;
    font-size: 12px;
 }
/* ----header-section ends--- */
/* -----banner section----------- */
.banner-section{
    padding: 280px 0;
    height: 10vh;
}
.banner-section-child h1{
    font-size: 30px;
    margin-top: 150px
}
/* -----banner section ends-------- */
/* --------package-section------------ */
.package-section{
    padding: 30px 0;
  }
  .package-header h2{
     font-size: 40px;
     margin-bottom: 20px;
  }
   .package-header p{
      margin-bottom: 50px;
      font-size: 13px;
   }
   .package-section-child{
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(1,1fr); 
   }
   .card-one{
      margin-bottom: 10px;
   }
   .card-one-text{
      padding: 20px 30px;
   }
   .card-one-text p{
      margin-bottom: 10px;
      font-size: 14px;
   }
   .details-section{
      margin-bottom: 20px;
   }
   .details-section-one{
      margin-bottom: 20px;
   }
  .btn-one{
      padding: 5px 10px;
      margin-bottom: 20px;
   }
   .details-section a{
      font-size: 17px;
   }
   .details-section-one a{
      font-size: 17px;
   }
  /* --------package-section ends------- */
/* -------------process section----- */
.process-section{
    padding: 30px 0;
 }
 .process-header h2{
   font-size: 40px;
     margin-bottom: 20px;
 }
 .process-header h3{
     font-size: 25px;
     margin-bottom: 50px;
 }
 .process-child{
    justify-content:space-evenly;
}
.card-two{
    margin-bottom: 40px;
    padding: 50px 15px;
}
 .card-two i{
     font-size: 50px;
     margin-bottom: 30px;
     position: absolute;
     bottom:76%;
     left: 50%;
     transform: translateX(-50%);
     
 }
 .card-two-text h4{
     margin-bottom: 20px; 
     font-size: 25px;
 }
 .card-two-text p{
     margin-bottom: 5px;
     font-size: 13px;
 }
 /* -------------process section ends---------- */
/* ------footer section------------ */
.footer-section{
    padding: 40px 0;
}
.footer-child{
    justify-content: center;
    text-align: center;
}
.footer-two{
    width: 50%;
}
.footer-three{
    width: 50%;
}
.logo-one{
    display: block;
    width: 130px;
    margin-bottom: 20px;
}
.footer-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-one p{
    margin-bottom: 20px;
    font-size: 12px;
}
.footer-links-one li{
    margin: 0 0 5px;
}
.footer-links-one a{
    font-size: 13px
}
.social-links li{
    margin: 0 10px 0 0;
}
.social-links li a{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-links{
    display: flex;
    justify-content:center;
}
.footer-two i{
    font-size: 15px;
}
.footer-one-para{
    font-size: 18px;
    margin-bottom:10px;  
}

/* ------footer section ends--------- */
}

@media (min-width:768px) and (max-width:991.98px) {

/* ---top header------------- */
.top-header{
    padding: 20px 0;
}
.top-header-contact a{
    font-size: 15px;
}
.top-header-contact i{
    margin: 0 10px;
}
.top-header-icons a{
    font-size: 15px;
}
/* ---top header ends---------- */
/* ----header-section--- */
.header-section{
    padding: 10px 0;
}
.nav-bar{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.nav-items{
    margin-bottom: 30px;
    max-width: 337px;
}
.nav-items li{
    margin-bottom: 8px;
}
.nav-items li a{
    margin: 0px 20px; 
    font-size: 16px;
    text-transform: uppercase;
}
.logo{
    width: 170px;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    font-size: 13px;
}
/* ----header-section ends--- */
/* -----banner section----------- */
.banner-section{
    padding: 280px 0;
    height: 10vh;
}
.banner-section-child h1{
    font-size: 30px;
    margin-top: 150px
}
/* -----banner section ends-------- */
/* --------package-section------------ */
.package-section{
    padding: 30px 0;
  }
  .package-header h2{
     font-size: 40px;
     margin-bottom: 20px;
  }
   .package-header p{
      margin-bottom: 50px;
      font-size: 13px;
   }
   .package-section-child{
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(2,1fr);
   }
   .card-one{
      margin-bottom: 10px;
   }
   .card-one-text{
      padding: 20px 30px;
   }
   .card-one-text p{
      margin-bottom: 10px;
      font-size: 13px;
   }
   .details-section{
      margin-bottom: 20px;
   }
   .details-section-one{
      margin-bottom: 20px;
   }
  .btn-one{
      padding: 4px 8px;
      margin-bottom: 20px;
   }
   .details-section a{
      font-size: 15px;
   }
   .details-section-one a{
      font-size: 15px;
   }
  /* --------package-section ends------- */
/* -------------process section----- */
.process-section{
    padding: 50px 0;
 }
 .process-header h2{
   font-size: 40px;
     margin-bottom: 20px;
 }
 .process-header h3{
     font-size: 25px;
     margin-bottom: 70px;
 }
 .process-child{
     justify-content:space-evenly;
 }
 .card-two{
     margin-bottom: 40px;
     padding: 50px 15px;
 }
 .card-two i{
     font-size: 50px;
     margin-bottom: 30px;
     position: absolute;
     bottom:76%;
     left: 50%;
     transform: translateX(-50%);
     
 }
 .card-two-text h4{
     margin-bottom: 20px; 
     font-size: 25px;
 }
 .card-two-text p{
     margin-bottom: 5px;
     font-size: 13px;
 }
 /* -------------process section ends---------- */
/* ------footer section------------ */
.footer-section{
    padding: 40px 0;
}
.footer-child{
    justify-content: center;
    text-align: center;
}
.footer-one{
    padding: 30px 10px;
}
.footer-two{
    width: 50%;
}
.footer-three{
    width: 50%;
}
.logo-one{
    display: block;
    width: 130px;
    margin-bottom: 20px;
}
.footer-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-one p{
    margin-bottom: 20px;
    font-size: 16px;
    width: 100%;
}
.footer-links-one li{
    margin: 0 0 5px;
}
.footer-links-one a{
    font-size: 16px
}
.social-links li{
    margin: 0 10px 0 0;
}
.social-links li a{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-links{
    display: flex;
    justify-content:center;
}
.footer-two i{
    font-size: 20px;
}
.footer-one a{
   display: inline-block;
}
.footer-one-para{
    font-size: 20px;
    margin-bottom:20px;  
}
.facebook{
    padding: 10px 13px;
}
.insta {
    padding: 10px;
}
.youtube {
    padding: 10px 8px;
}
.whatsapp {
    padding: 10px;
}

/* ------footer section ends--------- */
}
@media (min-width:992px) and (max-width:1199.98px) {

/* ---top header------------- */
.top-header{
    padding: 20px 0;
}
.top-header-contact a{
    font-size: 15px;
}
.top-header-contact i{
    margin: 0 10px;
}
.top-header-icons a{
    font-size: 15px;
}
/* ---top header ends---------- */
/* ----header-section--- */
.header-section{
    padding: 10px 0;
}
.nav-bar{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.nav-items{
    margin-bottom: 30px;
    max-width: 769px;
}
.nav-items li{
    margin-bottom: 20px;
}
.nav-items li a{
    margin: 0px 46px; 
    font-size: 16px;
    text-transform: uppercase;
}
.logo{
    width: 170px;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    font-size: 13px;
}
/* ----header-section ends--- */
/* -----banner section----------- */
.banner-section{
    padding: 280px 0;
    height: 10vh;
}
.banner-section-child h1{
    font-size: 35px;
    margin-top: 150px
}
/* -----banner section ends-------- */
/* --------package-section------------ */
.package-section{
  padding: 50px 0;
}
.package-header h2{
   font-size: 45px;
   margin-bottom: 40px;
}
 .package-header p{
    margin-bottom: 50px;
    font-size: 14px;
 }
 .package-section-child{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
   
 }
 .card-one{
    margin-bottom: 10px;
 }
 .card-one-text{
    padding: 20px 30px;
 }
 .card-one-text p{
    margin-bottom: 10px;
    font-size: 14px;
 }
 .details-section{
    margin-bottom: 20px;
 }
 .details-section-one{
    margin-bottom: 20px;
 }
.btn-one{
    padding: 4px 8px;
    margin-bottom: 20px;
 }
 .details-section a{
    font-size: 15px;
 }
 .details-section-one a{
    font-size: 15px;
 }
/* --------package-section ends------- */
/* -------------process section----- */
.process-section{
   padding: 50px 0;
}
.process-header h2{
  font-size: 45px;
    margin-bottom: 20px;
}
.process-header h3{
    font-size: 30px;
    margin-bottom: 70px;
}
.process-child{
    justify-content:space-evenly;
}
.card-two{
    max-width: 330px;
    padding: 50px 15px;
    position: relative;
    margin-bottom: 40px;
}
.card-two i{
    font-size: 50px;
    margin-bottom: 30px;
    position: absolute;
    bottom:77%;
    left: 50%;
    transform: translateX(-50%);
    
}
.card-two-text h4{
    margin-bottom: 20px; 
    font-size: 25px;
}
.card-two-text p{
    margin-bottom: 5px;
    font-size: 14px;
}
/* -------------process section ends---------- */
/* ------footer section------------ */
.footer-section{
    padding: 50px 0;
}
.footer-one{
    padding: 30px 10px;
    width: 19%;
}
.logo-one{
    width: 110px;
    margin-bottom: 18px;
}
.footer-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-one p{
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 13px;
}
.footer-links-one a{
    font-size: 13px
}
.social-links li{
    margin: 0 10px 0 0;
}
.social-links li a{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-links{
    display: flex;
    justify-content: space-between;
}
.footer-two i{
    font-size: 14px;
}
.footer-one-para{
    font-size: 18px;
    margin-bottom:40px;  
}
/* ------footer section ends--------- */
}
@media (min-width:1200px) and (max-width:1399.98px){

}